.address {
    &-modal-container {
        background-color: white;
        color: black;
        border-radius: 10px;
        border: orange 10px solid;
    }

    &-title {
        margin-top: 45px;
        margin-left: 43px;
        font-size: 35px;

        h1 {
            width: 211px;
            border-bottom: 1px black solid;
            font-size: 25px;
            font-weight: 700;
        }
    }

    &-form {
        margin-top: 50px;
        margin-left: 41px;

        input {
            width: 640px;
            height: 60px;
            margin-bottom: 40px;
            padding-left: 12px;
            font-size: 24px;
        }

        input::placeholder {
            padding-left: 7px;
            font-size: 24px;
        }
    }

    &-type {
        width: 640px;
        height: 70px;
        margin-left: 41px;
        display: flex;
        justify-content: space-evenly;

        p {
            font-size: 22px;
            display: flex;
            align-items: center;
        }

        button {
            border-radius: 10px;
            width: 175px;
        }
    }

    &-tick {
        margin-left: 41px;
        margin-top: 24px;
        display: flex;
        border-bottom: 1px solid black;
        width: 694px;;

        p {
            font-size: 22px;
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }
    }

    &-confirm {
        width: 640px;
        height: 70px;
        margin-left: 41px;
        display: flex;
        margin-top: 40px;
        justify-content: end;
        display: flex;

        button {
            margin-left: 34px;
            width: 215px;
            height: 60px;
            border-radius: 5px;
        }
    }
}

#tick {
    height: 33px;
    width: 101px;
}

#last {
    height: 100px
}
