// Body
$body-bg: #fff;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red-primary-color: #E4002B;

$black-primary-color: #0A112D;
$white-primary-color: #FFFFFF;
$color-1-primary: #B83612;
$color-2-primary: #DC4D01;
$color-3-primary: #4E8B00;
$color-4-primary: #883527;
$color-5-primary: #EB7C06;
$color-6-primary: #FFD230;

// Custom bootstrap variables
$modal-sm: 300px;
$modal-md: 500px;
$modal-lg: 650px;
$modal-xl: 1140px;

