.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://images.unsplash.com/photo-1594007654729-407eedc4be65?q=80&w=2869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    color: white !important;
    letter-spacing: 0.05rem;
    padding: 10px 20px !important;
    font-size: 1.4rem !important;

    &:hover {
        color: black !important;
    }
}

.container-login {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login {
        height: 150% !important;
        min-height: unset;
    }
}
